# Mealie backend
ALLOW_SIGNUP=false
PUID=1000
PGID=1000
TZ=America/New_York
BASE_URL=https://mealie.khathepham.com

# Database
DB_ENGINE=postgres
POSTGRES_USER=mealie
POSTGRES_PASSWORD=alskjfdlkjasasdfas
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mealie