DATA_DIR=/home/USERNAME/data/
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
APP_URL=http://localhost:8090
SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost:8090
PUBLIC_PORT=8090
