UPLOAD_LOCATION=/path/to/photos/library
DB_DATA_LOCATION=/path/to/postgres/data
IMMICH_VERSION=release
DB_PASSWORD=changeme
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
TZ=America/New_York
UID=1000
GID=1000

DATA_DIR=/path/to/data
