DATA_DIR=/home/USERNAME/data/zoey

ACTUAL_SERVER_URL="https://your.domain.com"
ACTUAL_SERVER_PASSWORD="your_password"
ACTUAL_SYNC_ID="your-sync-id"
NODE_TLS_REJECT_UNAUTHORIZED=0
INTEREST_PAYEE_NAME="Loan Interest"
INVESTMENT_PAYEE_NAME="Investment"
INVESTMENT_CATEGORY_GROUP_NAME="Income"
INVESTMENT_CATEGORY_NAME="Investment"
ZESTIMATE_PAYEE_NAME="Zestimate"
KBB_PAYEE_NAME="KBB"
BITCOIN_PRICE_URL="https://api.kraken.com/0/public/Ticker?pair=xbtusd"
BITCOIN_PRICE_JSON_PATH="result.XXBTZUSD.c[0]"
BITCOIN_PAYEE_NAME="Bitcoin Price Change"
RENTCAST_API_KEY="your_rentcast_api_key"
RENTCAST_PAYEE_NAME="RentCast"

BEARER_TOKEN="your_bearer_token"
